:root{
    /*Colours*/
    --color-text: #fff;
    --color-primary: #2E8B57;
    --color-secondary: #1F593A;
    --color-dark: #133524;
    --color-bg: #0A1F15;

    /*Fonts*/

    --font-roboto: "Roboto";
    

}